<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Expenses Demo</title>
<script type="text/javascript" src="/js/libs/angular-1.5.9.js"></script>
<script type="text/javascript" src="/js/libs/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
<script type="text/javascript" src="/js/app.module.js"></script>
<script type="text/javascript" src="/js/expenses.controller.js"></script>
<script type="text/javascript" src="/js/modal.controller.js"></script>
<script type="text/javascript" src="/js/expenses.service.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body ng-app="expensesApp">
	<div ng-controller="ExpensesController as vm">

	<div class="container">

      <div class="starter-template">
        <h1>Expenses Manager</h1>
        <p>Welcome to the Expenses Manager Application. </p>
        <ul>
        <li>You can add expenses by clicking the "Add new expense" button (or "Add random expense" for auto-populated data).</li>
        <li>You can edit and delete an expense.</li>
        <li>A <b>value</b> bigger than 1000 will throw a MaxValueException in the service layer, handled by an <i>ExceptionHandler</i> at the <i>RestController</i> and propagated to the client with a <i>HttpStatus.INTERNAL_SERVER_ERROR code</i>. </li>
        <li>Inserting a letter or strange character in the <i>Value</i> input will raise an exception in the controller layer.</li>
        <li>You can access the H2 web console <a href="/h2-console" target="h2console">here</a>. The JDBC URL is: <code>jdbc:h2:mem:testdb:MODE=MySQL;DB_CLOSE_ON_EXIT=FALSE</code>
        <li>You can access the REST API documentation via <b>swagger</b> <a href="/swagger-ui.html" target="swagger">here</a></li>
        <li>You can check the status of the app via <b>actuator</b>: <a href="/health" target="actuator">health</a> and  <a href="/metrics" target="actuator">metrics</a></li>
        </ul>
        
      </div>
	<p>
    <button type="button" class="btn btn-primary" ng-click="vm.openAddModal()">Add new expense</button>
    <button type="button" class="btn btn-primary" ng-click="vm.addRandomExpense()">Add random expense</button>
	</p>
	<p>
	<div uib-alert ng-if="vm.showAlert" ng-class="vm.alertType" close="vm.closeAlert()"  >{{vm.msg}}</div>
	</p>

    <p ng-show="vm.list.length==0">There are no expenses so far</p>
	<table ng-show="vm.list.length>0" class="table table-bordered table-striped table-condensed table-hover">
	<tr>
		<th class="col-md-3">Description</th>
		<th class="col-md-1">Value</th>
		<th class="col-md-1">Date</th>
		<th class="col-md-2">Actions</th>
	</tr>
    <tr ng-repeat="expense in vm.list">
        <td>{{expense.description}}</td>
        <td>{{expense.value | number:2}}</td>
        <td>{{expense.date}}</td>
        <td title="'Actions'">
        	<button type="button" class="btn btn-primary btn-sm" ng-click="vm.editElement(expense)">Edit</button>
        	<button type="button" class="btn btn-danger btn-sm" ng-click="vm.deleteElement(expense.id)">Delete</button>
        </td>    
    </tr>
</table>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Expense</h3>
        </div>
        <div class="modal-body" id="modal-body">
 			<p class="form-group">
    			<label>Description</label>
    			<input type="text" ng-model="$ctrl.expense.description" class="form-control">
  			</p>
 			<p class="form-group">
    			<label>Value</label>
    			<input type="text" ng-model="$ctrl.expense.value" class="form-control">
  			</p>
			<label>Date</label>			
			<p class="input-group">
		  
          <input type="text" readonly class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-click="$ctrl.openDp()" ng-model="$ctrl.expense.date" is-open="$ctrl.popup.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close"  />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.openDp()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
     <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  	</script>
    
    </div>

</div>
</body>
</html>